<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <rewrite>
            <rules>
                <rule name="Force Index PHP" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                
                <rule name="Static Files" stopProcessing="true">
                    <match url="\.(css|js|png|jpg|jpeg|gif|ico|pdf|txt|woff|woff2|ttf|svg)$" />
                    <action type="None" />
                </rule>
                
                <rule name="Route to Index" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        
        <httpErrors errorMode="Detailed" />
        
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="*.json" />
                    <add segment="*.log" />
                    <add segment="*.db" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
